.destination-detail {
  &__container {
    @include container();
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet){
      flex-wrap: nowrap;
    }
  }

  &__column {
    width: 100%;
  }
}