.destination-detail {

  .image-slider {
    height: calc(60vh + 99px) !important;
  }

  &__container {
    @include container();
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet){
      flex-wrap: nowrap;
    }
  }

  &__column {
    width: 100%;
    @media (min-width: $tablet){
      padding: 0 3em;

      &:nth-child(1) {
        border-right: 1px solid rgba(8, 31, 45, 0.2);
        margin: 2.5em 0;
      }
    }
  }
}
