.description {
  width: 100%;
  padding: 2em 0;
  
  &__title {
    font-size: 37px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: $greyBlue;
    display: flex;
    justify-content: space-between;
  }

  &__span {
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: $black;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: $black;
  }

  &__icons {
    color: red;
  }
}