.location {
  &__container {
    @include container();
    padding: 0 2em 2em 2em;

    @media (min-width: $tablet){
      padding: 2em 0;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;
    margin: 1em 0;
  }

  &__map {
    width: 100%;
    height: 100%;
    min-height: 315px;
  }
}