.reservation-info-detail {
  &__box {
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(8, 31, 45, 0.2);
    background-color: #ffffff;
    padding: 2em;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;
    margin: 1em 0;

    @media (min-width: $tablet){
      font-size: 37px;
    }
  }

  &__select {
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;
    border: 1px solid rgba(112, 112, 112, 0.6);
    padding: 1em;
    cursor: pointer;
    transition: all 0.55s;

    &:hover {
      background: #f1efef;
    }
  }

  &__table {
    border-left: 1px solid rgba(112, 112, 112, 0.6);
    border-right: 1px solid rgba(112, 112, 112, 0.6);
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
    border-radius: 4px;
    margin: 1em 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;
    border-top: 1px solid rgba(112, 112, 112, 0.6);
    padding: 1em;
    transition: all 0.55s;

    & span {
      font-size: 17px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }	
}