.reservation-resume {

  &__icon { // TODO: provicional esperando fuente de iconos
    background: #3cc73c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 1em auto 
  }

  &__title-total {
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #4a4f54;

    @media (min-width: $tablet) {
      font-size: 24px;
    }
  }

  &__price {
    font-size: 37px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #081f2d;
    margin: 0.5em 0 1em 0;

    @media (min-width: $tablet){
      font-size: 45px;
    }
  }

  &__resume {
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0;
    color: #4a4f54;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    color: #4a4f54;
  }
}