.reservation {

  & .shared__container {
    padding: 2em 0;
  }

  &__container {
    @include container();
    padding: 2em;

    @media (min-width: $tablet){
      padding: 2em 0;
    }
  }

  &__box {
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(8, 31, 45, 0.2);
    background-color: #ffffff;
    padding: 2em;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;
    margin: 1em 0;

    @media (min-width: $tablet){
      font-size: 37px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #081f2d;
    margin: 1em 0;

    @media (min-width: $tablet){
      font-size: 24px;
      text-align: left;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;

    @media (min-width: $tablet){

    } 
  }

  /* primer paso selecciona metodo de pago */
  &__options {
    border-left: 1px solid rgba(112, 112, 112, 0.6);
    border-right: 1px solid rgba(112, 112, 112, 0.6);
    border-bottom: 1px solid rgba(112, 112, 112, 0.6);
    border-radius: 4px;
    margin: 1em 0;
  }

  &__option {
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #081f2d;
    border-top: 1px solid rgba(112, 112, 112, 0.6);
    padding: 1em;
    cursor: pointer;
    transition: all 0.55s;

    &:hover {
      background: #f1efef;
    }
  }

  &__input {
    box-sizing: border-box;
    -webkit-appearance: none;
    position: relative;
    width: 100%;
  }

  .radio {
    transition: black 0.25s;
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;

    &:before{
      transition: background-color 0.25s;
      border-radius: 50%;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background-color: white;
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }

  &__radio {
    visibility: hidden;
    &:checked ~ label{
      .radio{
        border-color: #000;
        &:before{
          background-color: #000;
        }
      }
    }
  }
  
  &__response {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;

    &__title {
      font-size: 41px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.49;
      letter-spacing: 0.82px;
      text-align: center;
      color: #091f2c;
    }

    &__text {
      font-size: 22px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: 0.44px;
      text-align: center;
      color: #091f2c;
    }
  }
  
}

input[type=radio] {
  margin-right: 2em;
}

