/* paraams button */

// ====  @mixin button($background, $border, $text, $backgroundH, $borderH, $textH)

.button-detailTravel,
.button-detailVideo {
  @include button(white, #081f2d, #081f2d, black, black, white);
  margin: 2em 0;
}

.button-travelRequest {
  @include button(#3f96b4, #3f96b4, white, black, black, white);
  margin: 2em 0;

  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

.button-shared {
  @include button(white, #081f2d, #081f2d, #3f96b4, #3f96b4, white);

  &--black {
    @include button(black, black, white, #3f96b4, #3f96b4, white); 
  }
}

.button-Home {
  @include button(transparent, white, white, white, white, black);
  
  &--contact {
    max-width: 200px;
  }
}

.Button-Destination {
  color: white;
  text-align: center;
  margin: 1em 0;

  @media (min-width:$tablet){
    @include button(transparent, white, white, white, white, black);
    max-width: 150px;
    padding: 1em 1.5em;
    margin: 0;
  }
}
