.shared {
  &__container {
    @include container();
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;

    & .button-shared {
      max-width: 120px;
      padding: 1em 0.5em;
      font-size: 12px;

      @media (min-width: $tablet){
        max-width: 200px;
        font-size: 14px;
        padding: 1em;
      }
    }
  }
}