.shared {
  &__container {
    @include container();
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;

    & .button-shared {
      max-width: 120px;
      padding: 1em 0.5em;
      font-size: 12px;

      @media (min-width: $tablet){
        max-width: 150px;
        font-size: 12px;
      }
    }
  }	
  @media (min-width: $tablet){
    display: none;
  }
}