.FollowUs {
  width:350px;
  .FollowUs__container--quotes {
    color: $white;
  }
  .FollowUs__container--btn {
    margin-bottom:20px;
    margin-top:20px;
    border: 1px solid $white;
    color: $white;
    font-size: 14px;
    padding: 5px 25px;
  }
}
