.FollowUs {
  width: 80%;

  &__container {
    @media (min-width: $tablet){
      padding: 2em 2em 2em 0em;
    }
    &--title {
      color: $white;
      font-size: 24px;
    }
    &--description {
      color: $white;
      font-size: 17px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: 0.17px;
      margin: 10px 10px 25px 0px;

    }

    &__Form {
      display: flex;
      flex-direction: column;
      .InputComponent, .TextAreaComponent {
        .MuiFormLabel-root {
          color: $lightGrey;
          font-size: 12px;
          &:hover {
            border-bottom: 0;
          }
        }
      }
      .MuiInput-underline:before {
        border-bottom: 0;
      }
    }
  }
}
