.FollowUs {
  width: 70%;

  &__container {
    @media (min-width: $tablet){
      padding: 0 2em;
    }
    &--title {
      color: $white;
      font-size: 24px;
    }
    &--description {
      color: $white;
      font-size: 13px;
      margin: 10px 0px;
    }

    &__Form {
      display: flex;
      flex-direction: column;
      .InputComponent, .TextAreaComponent {
        .MuiFormLabel-root {
          color: $lightGrey;
          font-size: 12px;
        }
      }
    }
  }
}
