.form-contact {
  width: 80%;
  margin: auto;
  
  @media (min-width: $tablet) {
    width: 100%;
  }

  &__container {
    padding: 0 2em;

    @media (min-width: $tablet){
      padding: 2em 2em 2em 0em;
    }
  }

  &__title {
    color: $white;
    font-size: 24px;
    margin: 0;
  }

  &__description {
    color: $white;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.17px;
    margin: 10px 10px 25px 0px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    .MuiInputBase-root {
      color: $white;
    }

    .InputComponent, .TextAreaComponent {
      .MuiFormLabel-root {
        color: $lightGrey;
        font-size: 12px;
        &:hover {
          border-bottom: 0;
        }
      }
    }
    .MuiInput-underline:before {
      border-bottom: 0;
    }
  }
}
