.form-contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    width: 100%;
  }

  &__container {
    @include container();
    padding: 0 2em;

    @media (min-width: $tablet){
      padding: 0;
    }
  }

  &__title {
    color: $white;
    font-size: 24px;
    margin: 0;
    z-index: 2;
  }

  &__description {
    color: $white;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.17px;
    margin: 10px 10px 25px 0px;
    z-index: 2;
  }

  &__form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet){
      max-width: 500px;
      margin: 0;
    }

    .MuiInputBase-root {
      color: $white;
    }

    .InputComponent, .TextAreaComponent {
      .MuiFormLabel-root {
        color: $lightGrey;
        font-size: 12px;
        &:hover {
          border-bottom: 0;
        }
      }
    }

    .MuiInput-underline:before {
      border-bottom: 0;
    }
  }
}
