.home-destiny {
  & .image-slider div {
    div:nth-child(2) {
      z-index: 1 !important;
    }
  }
}
 
.home-destiny {

  &__background-image {
    background: linear-gradient(to right,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%);
    background-size: cover;

    &.welcomeContainer {
      position: relative;
    }

    .image-slider {
      position: absolute;

      &:after {
        @include absoluteFullContainer();
        display: block;
        content: '';
        background-color: black;
        z-index: 0;
        opacity: 0.3;
      }

      & button {
        z-index: 10;
      }
    }
  }

  &__body {
    @include container();
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding: 0px 2em;

    @media (min-width:$tablet){
      padding: 0;
    }
  }

  &__columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    &.welcomeColumns {
      justify-content: flex-end;
    }

    .WelcomeText {
      color: $white;
      font-size: 17px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: 0.13px;
      width: 424px;
      z-index: 2;

      @media (max-width:$tablet) {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
        width: 350px;
      }
    }
  }
}
