* {
  margin: 0;
  padding: 0;
}

.Home {
 background: linear-gradient(to right,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%),url('./../assets/images/foto23.png');
 background-size: cover;
 height: 100vh;
}

.Body {
  border: 1px solid purple;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60%;
  padding: 0px 35px;
  width: 100%;

  .Body__Columns {
    border: 1px solid orange;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .Body__Columns:nth-of-type(2) {
    align-items: center;
  }
}
