* {
  margin: 0;
  padding: 0;
}

.BG-img {
  background: linear-gradient(to right,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%),url('./../assets/images/foto23.png');
  background-size: cover;
  &.welcomeContainer {
    position: relative;
  }
  .image-slider {
    position: absolute;
  }
}

.Body {
  @include container();
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0px 2em;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding: 0;
  }

  .Body__Columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    &.welcomeColumns {
      justify-content: flex-end;
    }
  }

  .Body__Columns:nth-of-type(2) {
    align-items: center;
  }
}
