.BG-img {
  background: linear-gradient(to right,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%);
  background-size: cover;

  &.welcomeContainer {
    position: relative;
  }
  .image-slider {
    position: absolute;

    &:after {
      @include absoluteFullContainer();
      display: block;
      content: '';
      background-color: black !important;
      z-index: 0;
      opacity: 0.3;
    }
  }
}

.home {
  
  .image-slider {        
    button {
      z-index: 100;
      img {
        width: 40px;
      }

      &.image-slider-bullets {
      }
    }
  }
}

.Body {
  @include container();
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  padding: 2em;

  &.BodyR {
    @media (max-width: $tablet) {
      height: calc(100vh - 100px);
    }
  }

  @media (min-width: $tablet) {
    padding: 0px 2em;
  }

  .HomeContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;

    @media (mi-width: $tablet) {
      align-items: center;
      justify-content: space-between;
    }

    .WelcomeText {
      color: $white;
      font-size: 13px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: 0.13px;
      z-index: 2;
    }
  }

  .Body__Columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .WelcomeText {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.13px;
      width: 424px;
      z-index: 2;

      @media (max-width:$tablet) {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
        width: 350px;
      }
    }

    &.welcomeColumns {
      justify-content: flex-end;
    }
  }

  .Body__Columns:nth-of-type(2) {
    align-items: flex-end;
  }
}
