* {
  margin: 0;
  padding: 0;
}

.BG-img {
  background: linear-gradient(to right,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%);
  background-size: cover;
  &.welcomeContainer {
    position: relative;
  }
  .image-slider {
    position: absolute;
  }
}

.Home {
  .image-slider {
    button {
      z-index: 100;
      img {
        width: 40px;
      }
    }
  }
}

.Body {
  @include container();
  display: flex;
    flex-direction: row;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 0px 2em;

  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: flex-end;
    padding: 6em 2em 0em 2em;
  }

  @media (max-width: $iphone5) {
    padding: 8em 2em 0em 2em;
  }

  .HomeContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    @media (max-width: $tablet) {
      align-items: center;
      justify-content: space-between;

    }

    .WelcomeText {
      color: $white;
      font-size: 13px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: 0.13px;
    }
  }

  .Body__Columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    .WelcomeText {
      color: $white;
      font-size: 17px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: 0.13px;
      width: 424px;

      @media (max-width:$tablet) {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
        width: 350px;
      }
    }

    &.welcomeColumns {
      justify-content: flex-end;
    }
  }

  .Body__Columns:nth-of-type(2) {
    align-items: center;
  }
}
