* {
  margin: 0;
  padding: 0;
}

.Home {

}

.BG-img {
  background: linear-gradient(to right,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%),url('./../assets/images/foto23.png');
  background-size: cover;
  height: 100vh;
}

.Body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 70%;
  padding: 0px 35px;
  width: 100%;


  @media( max-width: 800px ) {
    flex-direction: column;

  }

  .Body__Columns {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    &.welcomeColumns {
      justify-content: flex-end;
    }

  }

  .Body__Columns:nth-of-type(2) {
    align-items: center;
  }
}
