/* - - - - - Botones - - - - - */


/* - - - - - Links - - - - - */

.Link {
  text-decoration: none;
  z-index: 2;
}

/* - - - - - Input - - - - - */

.InputComponent {
  border-bottom: 1px solid $lightGrey !important;
  
  &:hover {
    border-bottom: 1px solid $lightGrey !important;
  }
  &:focus {
    outline: 0;
  }
}
.TextAreaComponent {
  border: 1px solid $lightGrey !important;
  margin: 15px 0px !important;
  &:hover {
    border: 1px solid $lightGrey !important;
  }
  &:focus {
    outline: 0;
  }
}

.show-mobile {
  display: block !important;
  @media (min-width: $tablet) {
    display: none !important;
  }
}

.show-desktop {
  display: none !important;
  @media (min-width: $tablet) {
    display: block !important;
  }
}
