/* --------------------------------
  "Mixins" styles
-------------------------------- */
@mixin fontSize($font){
  font-size: ($font / $font-size-base) * 1em;
}

@mixin container(){
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $desktop-container;
}

@mixin clearButton(){
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

@mixin clearLink(){
  text-decoration: none;
  color: $black;
}

@mixin fullContainer(){
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  @media (min-width: ($tablet + 1)) {
    min-height: 610px;
  }
}

@mixin absoluteFullContainer() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin centeredImage(){
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

@mixin fullBackground(){
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin setImg(){
  display: block;
  width: 100%;
}

@mixin button($background, $border, $text, $backgroundH, $borderH, $textH) {
  background: $background;
  border: none;
  border-radius: 4px;
  color: $text;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  outline: none;
  text-align: center;
  text-transform: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 1em 3.5em;
  position: relative;
  width: 100%;
  z-index: 1;

  &:before{
    @include absoluteFullContainer;
    border: 1px solid $border;
    border-radius: 3px;
    content: '';
    display: block;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }

  &:after{
    @include absoluteFullContainer;
    background-color: $backgroundH;
    border-radius: 3px;
    content: '';
    display: block;
    right: 100%;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }

  &:hover{
    color: $textH;
    border-radius: 4px;

    &:before{
      border-color: $borderH;
      border-radius: 3px;
    }

    &:after{
      right: 0;
    }
  }
}
