/* Colors */
$black: #081f2d;
$greyBlue: #3f96b4;
$lightGrey: #DDDDDD;
$orange: #CC764E;
$white: #FFFFFF;
$darkGrey: #333333;

/* screen */
$desktop-container: 1200px;
$desktop: 960px;
$tablet:  959px;
$tablet-min: 768px;

/* font */
$font-size-base: 14px;
$font-color-base: $black;

$body-color-base: $white;

/* header */
$desktop-header: 99px;
$mobile-header: 73px;
