.Quotes {
  width: 450px;
  @media (max-width: $tablet) {
    width: 85%;
    padding: 40px 0px;
  }
  @media (max-width: $iphone5) {
    width: 95%;
    padding: 40px 0px;
  }
  &__text {
    color: $white;
    font-size: 28px;
    @media (max-width: $tablet) {
      font-size: 18px;
    }

    @media (max-width: $iphoneX) {
      font-size: 14px;
    }

  }
  &__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    &--username {
      color: $white;
      font-size: 12px;

    }
    &--destiny {
      color: $white;
      font-size: 12px;
      font-weight: bolder;
      span {
        background: $white;
        height: 10px;
        width: 10px;
      }
    }
    &--icon {
      margin-right: 5px;
      margin-left: 5px;
      height:15px;
      width:15px;
    }
  }
}
