.Quotes {
  width: 400px;
  @media (max-width: 800px) {
    width: 100%;
    padding: 20px 0px;
  }
  &__text {
    color: $white;
    font-size: 24px;
  }
  &__links {
    display: flex;
    flex-direction: row;

    &--username {
      color: $white;
      font-size: 12px;

    }
    &--destiny {
      color: $white;
      font-size: 12px;
      font-weight: bolder;
      span {
        background: $white;
        height: 10px;
        width: 10px;
      }
    }
  }
}
