.Quotes {
  width: 450px;
  @media (max-width: 800px) {
    width: 100%;
    padding: 20px 0px;
  }
  &__text {
    color: $white;
    font-size: 28px;
  }
  &__links {
    display: flex;
    flex-direction: row;
    margin-top: 5px;

    &--username {
      color: $white;
      font-size: 12px;

    }
    &--destiny {
      color: $white;
      font-size: 12px;
      font-weight: bolder;
      span {
        background: $white;
        height: 10px;
        width: 10px;
      }
    }
    &--icon {
      margin-right: 5px;
      margin-left: 5px;
      height:15px;
      width:15px;
    }
  }
}
