.login {
  background-image: url('https://kiperbucket.s3.us-east-2.amazonaws.com/teapuntas/img7-min.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;

  &:after {
    @include absoluteFullContainer();
    display: block;
    content: '';
    background-color: black;
    z-index: 0;
    opacity: 0.3;
  }

  &__container {
    @include container();
    height: 100%;
    z-index: 1;
  }

  &__social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffffff;

    @media (min-width:$tablet){
      font-size: 37px;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    width:100%;

    div {
      margin-right: 2%;
      margin-left: 2%;
      outline: 0;

      button {
        background: transparent;
        border-color: white;
        border-radius: 50px;
        color: white;
        height: 60px;
        max-width: 60px;
        min-width: 60px;
        overflow: hidden;
        outline: 0 !important;
        padding: 5px;
        width: 60px;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;

        .login__icons__icon {
          width: 10px;
        }

        &:hover {
          border-color: #081f2d;
          background: #081f2d;
          color: $white;
        }
      }
    }
  }
}
