.Footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 35px 0px;
  width: 100%;
  margin: 0 0 6em 0;

  &.isLogged {
    background: $darkGrey;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    position: initial;

    &__container {
      @include container();
    }
  }

  &__container {
    @include container();
  }

  &__login {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (max-width: $tablet) {
      justify-content: center;
    }

    &--text {
      @include fontSize(13px);
      color: $white;
      line-height: 1.69;
      cursor: pointer;
      letter-spacing: 0.13px;
      transition: all 0.55s;

      span {
        @include fontSize(14px);
        background: transparent;
        border: 0;
        color: $white;
        font-weight: 600;
        line-height: 1.69;
        letter-spacing: 0.13px;
        padding: 0px 5px;
        text-decoration: none;
        transition: all 0.55s;

        &:hover {
          color: $greyBlue;
        }

        @media (min-width: $tablet){
          @include fontSize(14px);
        }
      }

      &:hover {
        color: $greyBlue;
      }
    }

    &__section {
      color: $white;
      display:flex;
      flex-direction: column;
      height: 80px;
      justify-content: space-between;
      width: 50%;

      &:nth-child(1) {
        align-items: flex-start;
        div {
          p {
            margin-right: 5px;
          }
        }
      }
      &:nth-child(2) {
        align-items: flex-end;
        div {
          margin-left: 5px;
        }
      }

      div {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.footer {
  background-color: $darkGrey;
  color: $white;

  &__container {
    @include container();
    padding: 2em;

    @media (min-width: $tablet){
      padding: 2em 0;
    }
  }

  &__content {
    @media (min-width: $tablet){
      display: flex;
      justify-content: space-between;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;
  }

  &__text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    margin: 1em 0;

    &--margin-right {
      margin-right: 1em;
    }
  }
}
