.Footer {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  padding: 0px 35px 0px;
  position: absolute;
  width: 100%;
  &__login {
    &--text {
      color: $white;
      font-size: 12px;
      button {
        background: transparent;
        border: 0;
        color: $white;
        font-size: 12px;
        padding: 0px 5px;
        text-decoration: none;

      }
    }
  }
}
