.Footer {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  padding: 0px 35px 0px;
  position: absolute;
  width: 100%;
  &.isLogged {
    background: $darkGrey;
    height: 150px;
    max-height: 150px;
    min-height: 150px;

    &__container {
      @include container();
    }
  }

  &__container {
    @include container();
  }

  &__login {
    display: flex;
    flex-direction: row;
    width: 100%;

    &--text {
      color: $white;
       @include fontSize(12px);

      button {
        @include fontSize(20px);
        background: transparent;
        border: 0;
        color: $white;
        font-size: 12px;
        padding: 0px 5px;
        text-decoration: none;

        @media (min-width: $tablet){
          @include fontSize(14px);
        }
      }
    }

    &__section {
      color: $white;
      display:flex;
      flex-direction: column;
      height: 80px;
      justify-content: space-between;
      width: 50%;

      &:nth-child(1) {
        align-items: flex-start;
        div {
          p {
            margin-right: 5px;
          }
        }
      }
      &:nth-child(2) {
        align-items: flex-end;
        div {
          margin-left: 5px;
        }
      }

      div {
        display: flex;
        flex-direction: row;
      }



    }
  }
}
