/* Colors */
/* screen */
/* font */
/* header */
html, body {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  position: relative;
  background-color: #FFFFFF;
  line-height: 1.3;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* --------------------------------
  "Mixins" styles
-------------------------------- */
body {
  font-family: FiraSans;
}

/* - - - - - Botones - - - - - */
.btn--grey {
  color: #DDDDDD !important;
  font-size: 14px !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  border: 1px solid #DDDDDD !important;
  padding: 5px 25px !important;
  min-width: 100px;
}

/* - - - - - Links - - - - - */
.Link {
  text-decoration: none;
}

/* - - - - - Input - - - - - */
.InputComponent {
  border-bottom: 1px solid #DDDDDD !important;
}
.InputComponent:hover {
  border-bottom: 1px solid #DDDDDD !important;
}
.InputComponent:focus {
  outline: 0;
}

.TextAreaComponent {
  border: 1px solid #DDDDDD !important;
  margin: 15px 0px !important;
}
.TextAreaComponent:hover {
  border: 1px solid #DDDDDD !important;
}
.TextAreaComponent:focus {
  outline: 0;
}

.Footer {
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  padding: 0px 35px 0px;
  position: absolute;
  width: 100%;
}
.Footer__container {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.Footer__login--text {
  color: #FFFFFF;
  font-size: 0.8571428571em;
}
.Footer__login--text button {
  font-size: 1.4285714286em;
  background: transparent;
  border: 0;
  color: #FFFFFF;
  font-size: 12px;
  padding: 0px 5px;
  text-decoration: none;
}
@media (min-width: 959px) {
  .Footer__login--text button {
    font-size: 1em;
  }
}

.FollowUs {
  width: 70%;
}
.FollowUs__container--title {
  color: #FFFFFF;
  font-size: 24px;
}
.FollowUs__container--description {
  color: #FFFFFF;
  font-size: 13px;
  margin: 10px 0px;
}
.FollowUs__container__Form {
  display: flex;
  flex-direction: column;
}
.FollowUs__container__Form .InputComponent .MuiFormLabel-root, .FollowUs__container__Form .TextAreaComponent .MuiFormLabel-root {
  color: #DDDDDD;
  font-size: 12px;
}

.Destination {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.Destination .DestinationData {
  width: 50%;
}
.Destination .DestinationData__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  margin: 10px 0px;
}
.Destination .DestinationData__description--title {
  dsplay: flex;
  flex-direction: row;
}
.Destination .DestinationData__description--title p {
  background: #3f96b4;
}
.Destination .DestinationData__description--status {
  margin-bottom: 10px;
}
.Destination .DestinationPeople {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.Destination .DestinationPeople__container--avatar {
  background: transparent;
  border: 1px solid #DDDDDD;
}
.Destination .DestinationPeople__container--avatar.counter {
  background: transparent;
  border: 0;
}
* {
  margin: 0;
  padding: 0;
}

.BG-img {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("./../assets/images/foto23.png");
  background-size: cover;
  height: 100vh;
}

.Body {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  padding: 0px 2em;
}
@media (min-width: 959px) {
  .Body {
    flex-direction: row;
    padding: 0;
  }
}
.Body .Body__Columns {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.Body .Body__Columns.welcomeColumns {
  justify-content: flex-end;
}
.Body .Body__Columns:nth-of-type(2) {
  align-items: center;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 99px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 0 2em;
}
@media (min-width: 959px) {
  .Header {
    padding: 0 1em;
  }
}
.Header__container {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.Header__icon {
  display: block;
  width: 100%;
  max-width: 100px;
}
@media (min-width: 959px) {
  .Header__icon {
    transition: all 0.55s;
    max-width: 170px;
  }
  .Header__icon:hover {
    max-width: 175px;
  }
}

.LoginView {
  justify-content: center;
  align-items: center !important;
}
.LoginView .Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.LoginView .Login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.LoginView .Login__container--Title {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.LoginView .Login__container__SocialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.LoginView .Login__container__SocialMedia div {
  margin-right: 2%;
  margin-left: 2%;
}
.LoginView .Login__container__SocialMedia div button {
  border-color: white;
  border-radius: 50px;
  color: white;
  height: 60px;
  max-width: 60px;
  min-width: 60px;
  overflow: hidden;
  padding: 5px;
  width: 60px;
  box-sizing: border-box;
}
.LoginView .Login__container__SocialMedia div button:hover {
  border-color: #081f2d;
  background: #081f2d;
  color: #FFFFFF;
}

.ModalTA {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalTA__body:focus {
  outline: 0 !important;
}

.Stepper {
  border-radius: 30px;
  outline: 0;
}
.Stepper .StepperHeader {
  background: #CC764E;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.Stepper .StepperHeader .closeModalIcon {
  height: 10px;
  width: 10px;
}
.Stepper .StepperBody {
  align-items: center;
  background: #CC764E;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  height: 300px;
  width: 500px;
}
.Stepper .StepperBody__Container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.Stepper .StepperBody__Container--title {
  font-size: 18px;
}
.Stepper .StepperBody__Container--icon {
  margin: 10px;
  height: 20px;
  width: 20px;
}
.Stepper .StepperBody__Container--label {
  font-size: 18px;
}
.Stepper .StepperBody__Container--span {
  font-size: 10px;
  margin: 7px 0;
}
.Stepper .StepperFooter {
  background: #CC764E;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 30px;
}
.Stepper .StepperFooter .MuiMobileStepper-dots .MuiMobileStepper-dot {
  background: white;
}
.Stepper .StepperFooter .MuiMobileStepper-dots .MuiMobileStepper-dot.MuiMobileStepper-dotActive {
  background: #081f2d;
}

.Quotes {
  width: 400px;
}
@media (max-width: 800px) {
  .Quotes {
    width: 100%;
    padding: 20px 0px;
  }
}
.Quotes__text {
  color: #FFFFFF;
  font-size: 24px;
}
.Quotes__links {
  display: flex;
  flex-direction: row;
}
.Quotes__links--username {
  color: #FFFFFF;
  font-size: 12px;
}
.Quotes__links--destiny {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bolder;
}
.Quotes__links--destiny span {
  background: #FFFFFF;
  height: 10px;
  width: 10px;
}

/*# sourceMappingURL=main.css.map */
