// General styles
@import "./general";

// Components Styles
@import "./Footer/footer";
@import "./FollowUs/followus";
@import "./Home/home";
@import "./Header/header";
@import "./Login/login";
@import "./Modal/modal";
@import "./Quotes/quotes";
