// General styles

@import "./Utilities/variables";
@import "./Utilities/base";
@import "./Utilities/mixins";
@import "./Utilities/general";
@import "./Utilities/icons";

// Elements styles
@import "./Elements/buttons";
@import "./Elements/shared";

// Components Styles
@import "./Footer/footer";
@import "./FollowUs/followus";

@import "./Destination/destination";
@import "./DestinationDetail/destination-detail";
@import "./DestinationDetail/location";
@import "./DestinationDetail/travelers";
@import "./DestinationDetail/reservation";
@import "./DestinationDetail/description";

@import "./Home/home";
@import "./Header/header";
@import "./Login/login";
@import "./MiniCalendarInfo/miniCalendarInfo";
@import "./Modal/modal";
@import "./Profile/profile";
@import "./Stepper/stepper";
@import "./UserInfo/userInfo";
@import "./Quotes/quotes";
