// General styles

@import "./Utilities/variables";
@import "./Utilities/base";
@import "./Utilities/mixins";
@import "./Utilities/general";
@import "./Utilities/icons";

// Components Styles
@import "./Footer/footer";
@import "./FollowUs/followus";
@import "./Destination/destination";
@import "./Home/home";
@import "./Header/header";
@import "./Login/login";
@import "./Modal/modal";
@import "./Stepper/stepper";
@import "./Quotes/quotes";

