.Destination {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;

  .DestinationData {
    width: 50%;

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 150px;
      margin-bottom: 50px;
    }
    &__description {
      &--title {
        display: flex;
        flex-direction: row;
        width: 325px;
        h1 {

        }
        p {
          align-items: center;
          background: $greyBlue;
          border-radius: 8px;
          display: flex;
          padding: 5px 10px;
          margin-left: 10px;
        }
      }
      &--status {
        margin-bottom: 10px;
      }
      &--info {
        margin-top: 10px;
      }
    }
  }
  .DestinationPeople {
    display: flex;
    flex-direction: column;
    width: 25%;

    &__container {
      margin-bottom: 50px;
      &--avatar {
        background: transparent;
        border: 1px solid $lightGrey;

        &.counter {
          background: transparent;
          border: 0;

        }
      }
    }

    &__link {
      text-decoration: none;
      .btn--grey {

        text-decoration: none;
      }
    }

  }
}
