.Destination {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;

  .DestinationData {
    width: 50%;

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 150px;
      margin: 10px 0px;
    }
    &__description {
      &--title {
        dsplay: flex;
        flex-direction: row;
        h1 {

        }
        p {
          background: $greyBlue;
        }
      }
      &--status {
        margin-bottom: 10px;
      }
      &--description {

      }
    }
  }
  .DestinationPeople {
    display: flex;
    flex-direction: column;
    width: 25%;

    &__container {
      &--avatar {
        background: transparent;
        border: 1px solid $lightGrey;

        &.counter {
          background: transparent;
          border: 0;

        }
      }
    }

    &__link {
      button {

      }
    }

  }
}
