.Destination {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  padding: 2em 0;

  @media (min-width:$tablet){
    padding: 2em 0 4em 0;
  }

  .DestinationData {
    width: 100%;

    @media (min-width:$tablet){
      width: 50%;
    }

    &__container {
      @media (min-width:$tablet){
        display: flex;
        justify-content: space-between;
      }
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 150px;
      margin-bottom: 50px;
    }

    &__description {

      &--title {
        display: flex;
        flex-direction: row;

        h1 {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.22;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          margin-bottom: 0.8em;
          @media (min-width:$tablet){
            font-size: 45px;
          }
        }

        p {
          align-items: center;
          background: $greyBlue;
          border-radius: 8px;
          display: flex;
          padding: 5px 10px;
          margin-left: 10px;
        }
      }

      &--status {
        margin-bottom: 10px;
      }
      &--info {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;

        @media (min-width:$tablet){
          font-size: 17px;
        }
      }
    }
  }

  .DestinationPeople {
    display: flex;
    flex-direction: column;

    @media (min-width:$tablet){
      width: 25%;
      display: flex;
      justify-content: center;
    }

    &__container {
      @media (min-width:$tablet){
        margin-bottom: 50px;
        margin-left: 7px;
      }
      
      &--avatar {
        background: transparent;
        border: 1px solid $lightGrey;

        &.counter {
          background: transparent;
          border: 0;
        }
      }
    }

    &__link {
      text-decoration: none;
      .btn--grey {

        text-decoration: none;
      }
    }
  }
}
