.header {
  height: 50px;
  color: $white;
  font-size: 18px;
  padding: 0 2em;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;

  &.isLogged {
    background: $white;
  }

  &.isDestiny {
    background-color: #ffffffbf !important;
  }

  @media (min-width: $tablet){
    height: $desktop-header;
    padding: 0 1em;
  }

  &__container{
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    @include setImg();
    max-width: 100px;
    transition: all 0.55s;

    @media (min-width: $tablet){
      max-width: 150px;
    }
  }
}
