.Header {
  @include container();

  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  padding: 0px 35px;
  color: white;
  font-size: 18px;
  width: 100%;
  &--Icon {
    width: 120px;
  }
}
