.header {
  height: $desktop-header;
  color: $white;
  font-size: 18px;
  padding: 0 2em;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;

  &.isLogged {
    background: $white;
  }

  @media (min-width: $tablet){
    padding: 0 1em;
  }

  &__container{
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    @include setImg();
    max-width: 130px;

    @media (max-width: $tablet){
      transition: all 0.55s;
      max-width: 130px;
    }
  }
}
