.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $desktop-header;
  color: $white;
  font-size: 18px;
  padding: 0 2em;

  @media (min-width: $desktop){
    padding: 0 1em;
  }

  &__container{
    @include container();
  }

  &__icon {
    @include setImg();
    max-width: 100px;


    @media (min-width: $desktop){
      transition: all 0.55s;
      max-width: 170px;

      &:hover {
        max-width: 175px; 
      }
    }
  }
}
