.Header {
  height: $desktop-header;
  color: $white;
  font-size: 18px;
  padding: 0 2em;
  display: flex;

  @media (min-width: $tablet){
    padding: 0 1em;
  }

  &__container{
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    @include setImg();
    max-width: 100px;

    @media (min-width: $tablet){
      transition: all 0.55s;
      max-width: 170px;

      &:hover {
        max-width: 175px; 
      }
    }
  }
}
