.Card {
  align-items: center;
  border-radius: 1px solid $lightGrey;
  box-shadow: 0 3px 6px 0 rgba(80, 80, 80, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  width: 450px;
  min-height: 400px;

  .Info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .MuiAvatar-root.MuiAvatar-circle {
      height: 130px;
      width: 130px;
    }

    .editImage {
      font-size: 17px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      padding: 20px 20px 50px 20px;
    }
    
    .aliasText {
      font-size: 24px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
    }

  }
  .userAbout {
    align-items: flex-end;
    border-top: 1px solid #DDDDDD;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: justify;

    .editAbout {
      padding-bottom: 15px;
    }
    .editText {
      padding-bottom: 15px;
    }
  }
}
