.CalendarInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width:$tablet){
    margin-bottom: 0;
  }

  &__icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;

    .Icon--pais {
      width: 10px;
      margin-right: 0.5em;

      @media (min-width: $tablet){
        width: 15px;
      }
    }

    .Icon--calendar {
      width: 15px;
      margin-right: 0.5em;
      @media (min-width: $tablet){
        width: 25px;
      }
    }

    .Icon--people {
      width: 15px;
      margin-right: 0.5em;
      @media (min-width: $tablet){
        width: 25px;
      }
    }

    p {
      font-size: 20px;
      @media (min-width: $tablet){
        font-size: 25px;
      }
    }
  }

  .DestinationPeople {
    display: flex;
    flex-direction: column;

    @media (min-width:$tablet){
      width: 25%;
    }

    &__container {
      @media (min-width:$tablet){
        margin-bottom: 50px;
      }
      &--avatar {
        background: transparent;
        border: 1px solid $lightGrey;

        &.counter {
          background: transparent;
          border: 0;
        }
      }
    }

    &__link {
      text-decoration: none;
      
      .btn--grey {
        text-decoration: none;
      }
    }
  }
}
