.UserData {
  align-items: center;
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include container();

    @media (max-width: 750px) {
      flex-direction: column;
    }

    &--DataUser {
      border-bottom: 1px solid $lightGrey;
      display: flex;
      min-height: 400px;
      flex-direction: column;
      line-height: 2.0;
      padding: 20px;
      width: 650px;

      .DataUser__title {
        font-size: 36px;
        margin-bottom: 5px;
      }

      .DataUser__Edit {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 400px;
      }

      .DataUser__Description {
        div {

          p {
            font-weight: 600;
          }
          .MuiInputLabel-outlined {
            font-size: 12px;
            transform: translate(14px, 10px) scale(1);
          }
          .MuiInputLabel-outlined.MuiInputLabel-shrink {
              transform: translate(23px, -6px) scale(0.75);
          }
          .MuiOutlinedInput-input {
            padding: 5px;
          }
        }
      }


    }
  }
}
