.UserData {
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &--Card {
      align-items: center;
      border-radius: 1px solid $lightGrey;
      box-shadow: 0 3px 6px 0 rgba(80, 80, 80, 0.5);
      display: flex;
      flex-direction: column;
      padding: 0px 20px;
      width: 450px;
      min-height: 300px;

      .userInfo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        .editImage {
          padding-bottom: 20px;
        }
        .aliasText {

        }

      }
      .userAbout {
        align-items: center;
        border-top: 1px solid $lightGrey;
        display: flex;
        flex-direction: column;
        padding: 20px;
        .editAbout {
          padding-bottom: 15px;
        }
        .editText {
          padding-bottom: 15px;
        }
      }
    }

    &--DataUser {
      border-bottom: 1px solid $lightGrey;
      min-height: 400px;
      padding:20px;
      width:650px;
    }
  }
}
