.UserData {
  align-items: center;
  display: flex;
  min-height: 100vh;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
    width: 100%;

    @include container();

    @media (max-width: 750px) {
      flex-direction: column;
    }

    &--DataUser {
      display: flex;
      min-height: 400px;
      flex-direction: column;
      line-height: 2.0;
      padding: 20px;
      width: 650px;
      height: auto;

      .DataUser__title {
        font-size: 45px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        margin-bottom: 5px;

      }

      .DataUser__Edit {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
        width: 400px;

        p {
          font-size: 20px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.1;
          letter-spacing: normal;
        }

        .editButton {
          border: 0;
          font-size: 17px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.29;
          letter-spacing: normal;
          outline: 0;
        }
      }

      .DataUser__Description {
        .ProfileData {
          align-items: center;
          display: flex;
          flex-direction: row;
          margin: 10px 0;
          &__icon {
            height: 20px;
            width: 20px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            margin: 0 10px;;
          }
          .MuiInputLabel-outlined {
            font-size: 12px;
            transform: translate(14px, 10px) scale(1);
          }
          .MuiInputLabel-outlined.MuiInputLabel-shrink {
              transform: translate(23px, -6px) scale(0.75);
          }
          .MuiOutlinedInput-input {
            padding: 5px;
          }
          .inputData {
            border: 1px solid $mateGrey;
            border-radius: 4px;
            font-weight: 600;
            font-stretch: normal;
            font-size: 16px;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            height: 30px;
            padding: 5px;
            width: 230px;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 35%;
          }
        }

        .ProfilePreference {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 30px;
          width: 300px;

          .Options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1em 0;
            button {
              border: 0;
              border-radius: 30px;
              width: 30px;
              height: 30px;

              img {
                width: 30px;
                height:30px;
              }
            }
          }


        }

        .options-Zone {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;

          button {
            &:nth-child(1) {
              @include button($white, $black, $black, $black, $black, $white);
              margin-right: 20px;
              padding: 1em 0;
              width: 150px;
            }
            &:nth-child(2) {
              @include button($black, $black, $white, $white, $black, $black);
              margin-left: 20px;
              padding: 1em 0;
              width: 150px;
              /*@include button($background, $border, $text, $backgroundH, $borderH, $textH);*/
            }
          }
        }

        .socialMediaProfile {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 4em;
          width: 300px;
          div {
            align-items: center;
            display: flex;
            width: 70px;
            height: 30px;

            .round {
              position: relative;
            }

            .round label {
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 50%;
              cursor: pointer;
              height: 28px;
              left: 0;
              position: absolute;
              top: 0;
              width: 28px;
            }

            .round label:after {
              border: 2px solid #fff;
              border-top: none;
              border-right: none;
              content: "";
              height: 6px;
              left: 7px;
              opacity: 0;
              position: absolute;
              top: 8px;
              transform: rotate(-45deg);
              width: 12px;
            }

            .round input[type="checkbox"] {
              visibility: hidden;
            }

            .round input[type="checkbox"]:checked + label {
              background-color: #66bb6a;
              border-color: #66bb6a;
            }

            .round input[type="checkbox"]:checked + label:after {
              opacity: 1;
            }

            .socialMedia--icon {
              width: 20px;
            }
          }
        }
      }
    }
  }
}


.UserDataMob {
  background: $white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding-top: 100px;
  padding-right: 2em;
  padding-left: 2em;

  @media (max-width: $iphone5) {
    height: 100vh;
  }

  @include container();
  &-Header {
    display: flex;
    flex-direction: row;
    width: 100%;
    &__Sections {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;
      width: 50%;

      &:nth-child(1) {
        align-items: flex-start;
      }
      &:nth-child(2) {
        align-items: flex-end;
      }

      .MuiAvatar-circle {
        height: 80px;
        width: 80px;
        @media (max-width: $iphone5) {
          width: 80px;
          height: 80px;
        }
      }
      .aliasText {
        font-size: 17px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        margin-top: 10px;
        text-align: center;

      }

      .elements {
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: center;
      }

      .editProfileIcon {
        height: 40px;
        width: 40px;

        @media (max-width: $iphone5) {
          width: 30px;
          height: 30px;
        }
      }

      .SocialNetwork {
        display: flex;
        flex-direction: row;
        &__icon {
          width: 20px;
          margin: 0 5px;
        }
      }
    }
  }

  &-Body {
    padding: 1em 0;
    .DataUser__title {
      color: $mateGrey;
      font-size: 17px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
    }

    .DataUser__date {
      color: $mateGrey;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: normal;
      text-align: left;
    }

    .DataUser__semblanza {
      color: #4a4f54;
      font-size: 12px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      padding: 1em 0;
    }

    .DataUser__Description {
      line-height: 1.7;
    }

    .DataUser__line {
      padding: 2em 0;
    }

  }
}
